body{
    margin: 0;
    position: relative;
}

.parallax1 {
    /* The image used */
    background-image: url("img/fuji.jpg");
  
    height: 100vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
.parallax2 {
    /* The image used */
    background-image: url("img/mount.jpg");
  
    height: 50vh;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    
}
.card{
    z-index: -1;
}

/* @media only screen and (min-width: 800px) { */
.gmb1 {
  z-index: -1;
  width: 150px;
  height: 200px;
}
.gmb2 {
  z-index: -1;
  position: absolute;
  transform: translateX(20px);
  width: 230px;
  height: 300px;
  margin-top: 80px;
}
.gmb3 {
  z-index: -1;
  position: absolute;
  transform: translateX(270px);
  width: 150px;
  height: 200px;
  margin-top: 270px;
}

